# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node (si jamais)
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log

# Misc
.env
.env.local
.env.*.local

# Secrets
secrets.json
firebase-config.js
app-firebase.js
